<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{curso.edit.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{curso.edit.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/cursos}" th:text="#{curso.edit.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('curso')}" />
            <form th:action="${T(br.ucsal.academico.notas.util.WebUtils).getRequest().requestURI}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='curso', field='nome')}" />
                <input type="submit" th:value="#{curso.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
